<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Tuarrah</h1>
    <p>
			Thanks for answering.

      The record is now available to you at tuarrah.com/listen[link].
      In the event that your cookies are deleted, you can always access the music from this personalized link

      Your answer will be published anonymously on tuarrah.com/listen[link], pending moderation.
    </p>
  </body>
</html>
