<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Tuarrah</h1>
    <p>
			Thanks for answering.  You can find your music at <%= @url %>.
    </p>
  </body>
</html>
